TOKEN="Blah"

CLIENTID=123
GUILDID=123

CH_ERRORLOG=123         #channel for error logging
CH_FORUMS=123,456       #forum channels for the bot to look at. can accept multiple channel IDs

DEVID=123,456           #you can have one ID or multiple IDs seperated by commas
MONGODB="Blah"